<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/">zurück</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Erstelle deinen<br />Account</h1>

  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input
        placeholder="Name"
        formControlName="displayName"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        placeholder="Email address"
        formControlName="email"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>
 
    <ion-item>
      <ion-input
      placeholder="Password"
      type="password"
      formControlName="password"
      clearInput="true"
    ></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
    </div>
  </form>

  <ion-button (click)="signUp()" expand="block" shape="round">Erstellen</ion-button>


  <p>By pressing 'Anmelden' you agree to <br />our terms & conditions.</p>
</ion-content>